<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SmokeTests" parallel="false">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="engine.report.ScreenshotHolder"/>
    </listeners>
    <test name="Loader App" verbose="1">
        <classes>
            <class name="StartSlider"/>
        </classes>
    </test>
    <test name="Regression Tests" verbose="1">
        <classes>
            <class name="RegressionTest"/>
        </classes>
    </test>
</suite>